.item__column{
    display: flex;
    flex-direction: column;
}

.block_stats{
    display: flex;
    justify-content: space-between;
    background: aqua;
    border-radius: 20px;
    padding: 1em 2em;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 25px;
}